{% extends "main.html" %}

{% block maincontent %}

<h1>Custom Domains</h1>
<h2>Most admins choose to deploy their checkin app on their website, using a custom subdomain such as <a href="http://checkin.csfair.nyc/" target="_blank">http://checkin.csfair.nyc/</a>. The following are instructions on how to do that.</h2>
<h2> Example: if you want your app hosted at checkin.csfair.nyc
<ol>
  <li>Make sure you have the correct <b>Custom Hostname</b> name set in your deployment. This will be the custom domain that we will use to properly route your app. In the given example, the deployment's <b>Custom Hostname</b> is <b>csfair.nyc</b></li>
  <li>test</li>

</ol>


{% endblock %}
