{% extends "main.html" %}

{% block maincontent %}

<h1>Sample Checkin</h1>
<h2>Use this page to practice the check in process!</h2>
<h3>Open this webpage on a second device (i.e. not the device you are using to scan QR codes).</h3>
<h3>On your primary device, use your QR code reader app to scan the QR code below. You may be prompted to login to your account.</h3>
<h3>Once you have logged in, you can also check in visitors manually using the 6 digit numeric code and the "Checkin student" link.</h3>
<h3>If you have any problems, email ngranor@microsoft.com</h3>
<img src = '{{ sample_url }}' />


{% endblock %}
