{% extends "main.html" %}

{% block maincontent %}

<h1>Progress</h1>

{% if student_link_text != "None" and student_link_text != None %}
<h4><a href="{{ student_link }}" target="_blank">{{ student_link_text }}</a></h4>
{% endif %}

{% if raffle_entries >= max_raffle_entries and max_raffle_entries != 0 %}
  {% if max_raffle_entries == 1 %}
      <h3>Congratulations 🌟! You've unlocked your entry into the prize drawing! Good luck!</h3>
  {% else %}
      <h3>Congratulations 🌟! You've unlocked all {{ raffle_entries }} available entries for the prize drawing! Good luck!</h3>
  {% endif %}
{% else %}
  {% if raffle_entries == 0 %}
    <h3>You haven't unlocked any entries for the prize drawing yet.</h3>
  {% else %}
    {% if raffle_entries == 1 %}
      <h3>You've unlocked 1 entry into for prize drawing so far.</h3>
    {% else %}
      <h3>You've unlocked {{ raffle_entries }} entries for the prize drawing so far.</h3>
    {% endif %}
  {% endif %}

{% if or_rules|length > 0 or and_rules|length > 0 %}
  <h3>To unlock an entry in the drawing:</h3>
{% endif %}
  {% for or_rule in or_rules %}
    {% if forloop.counter == 1 %}
      {% if or_rule.category == 'ANY' %}
        {% if or_rule.remaining == 1 %}
          <h2>Scan your badge at {{ or_rule.remaining }} more booth from any category.</h2>
        {% else %}
          <h2>Scan your badge at {{ or_rule.remaining }} more booths from any category.</h2>
        {% endif %}
      {% else %}
        {% if or_rule.remaining == 1 %}
          <h2>Scan your badge at {{ or_rule.remaining }} more booth from the <strong>{{ or_rule.category}}</strong> category.</h2>
        {% else %}
          <h2>Scan your badge at {{ or_rule.remaining }} more booths from the <strong>{{ or_rule.category}}</strong> category.</h2>
        {% endif %}
      {% endif %}
    {% else %}
      {% if or_rule.category == 'ANY' %}
        {% if or_rule.remaining == 1 %}
          <h2><strong>Or</strong><br>Scan your badge at {{ or_rule.remaining }} more booth from any category.</h2>
        {% else %}
          <h2><strong>Or</strong><br>Scan your badge at {{ or_rule.remaining }} more booths from any category.</h2>
        {% endif %}
      {% else %}
        {% if or_rule.remaining == 1 %}
          <h2><strong>Or</strong><br>Scan your badge at {{ or_rule.remaining }} more booth from the <strong>{{ or_rule.category}}<strong> category.</h2>
        {% else %}
          <h2><strong>Or</strong><br>Scan your badge at {{ or_rule.remaining }} more booths from the <strong>{{ or_rule.category}}<strong> category.</h2>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if or_rule.num_progress == 0 %}
      <div class="progress width-page" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: {{ or_rule.progress }}%;background-color:{{ or_rule.display_color}};color:black;font-size:20px;line-height:2.5;" aria-valuenow="{{ or_rule.progress }}" aria-valuemin="0" aria-valuemax="100">{{or_rule.num_progress}}</div>
      </div>
    {% else %}
      <div class="progress width-page" style="height: 50px;">
        <div class="progress-bar" role="progressbar" style="width: {{ or_rule.progress }}%;background-color:{{ or_rule.display_color}};font-size:20px;line-height:2.5;" aria-valuenow="{{ or_rule.progress }}" aria-valuemin="0" aria-valuemax="100">{{or_rule.num_progress}}</div>
      </div>
    {% endif %}
  {% endfor %}

{% for and_rule in and_rules %}

  {% if forloop.counter0 == 0 %}

    {% if and_rule.category == 'ANY' %}
      {% if or_rules|length > 0  %}
        {% if and_rule.remaining == 1 %}
          <h2><strong>Or</strong><br>Scan your badge at {{ and_rule.remaining }} more booth from any category.</h2>
        {% else %}
          <h2><strong>Or</strong><br>Scan your badge at {{ and_rule.remaining }} more booths from any category.</h2>
        {% endif %}
      {% else %}
        {% if and_rule.remaining == 1 %}
          <h2>Scan your badge at {{ and_rule.remaining }} more booth from any category.</h2>
        {% else %}
          <h2>Scan your badge at {{ and_rule.remaining }} more booths from any category.</h2>
        {% endif %}
      {% endif %}
    {% else %}
      {% if or_rules|length > 0  %}
        {% if and_rule.remaining == 1 %}
          <h2><strong>Or</strong><br>Scan your badge at {{ and_rule.remaining }} more booth from the <strong>{{ and_rule.category}}</strong> category.</h2>
        {% else %}
          <h2><strong>Or</strong><br>Scan your badge at {{ and_rule.remaining }} more booths from the <strong>{{ and_rule.category}}</strong> category.</h2>
        {% endif %}
      {% else %}
        {% if and_rule.remaining == 1 %}
          <h2>Scan your badge at {{ and_rule.remaining }} more booth from the <strong>{{ and_rule.category}}</strong> category.</h2>
        {% else %}
          <h2>Scan your badge at {{ and_rule.remaining }} more booths from the <strong>{{ and_rule.category}}</strong> category.</h2>
        {% endif %}
      {% endif %}
    {% endif %}
  {% else %}
    {% if and_rule.category == 'ANY' %}
      {% if and_rule.remaining == 1 %}
        <h2><strong>And</strong><br>Scan your badge at {{ and_rule.remaining }} more booth from any category.</h2>
      {% else %}
        <h2><strong>And</strong><br>Scan your badge at {{ and_rule.remaining }} more booths from any category.</h2>
      {% endif %}
    {% else %}
      {% if and_rule.remaining == 1 %}
        <h2><strong>And</strong><br>Scan your badge at {{ and_rule.remaining }} more booth from the <strong>{{ and_rule.category}}</strong> category.</h2>
      {% else %}
        <h2><strong>And</strong><br>Scan your badge at {{ and_rule.remaining }} more booths from the <strong>{{ and_rule.category}}</strong> category.</h2>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if and_rule.num_progress == 0 %}
    <div class="progress width-page" style="height: 50px;">
      <div class="progress-bar" role="progressbar" style="width: {{ and_rule.progress }}%;height:100px;color:black;background-color:{{ and_rule.display_color}};font-size:20px;line-height:2.5;" aria-valuenow="{{ and_rule.progress }}" aria-valuemin="0" aria-valuemax="100">{{and_rule.num_progress}}</div>
    </div>
  {% else %}
    <div class="progress width-page" style="height: 50px;">
      <div class="progress-bar" role="progressbar" style="width: {{ and_rule.progress }}%;height:100px;background-color:{{ and_rule.display_color}};font-size:20px;line-height:2.5;" aria-valuenow="{{ and_rule.progress }}" aria-valuemin="0" aria-valuemax="100">{{and_rule.num_progress}}</div>
    </div>
  {% endif %}

{% endfor %}

{% endif %}

<h1>Check-ins</h1>
<div id="tableOfContents">
  {% autoescape off %}{{ table_of_contents }}{% endautoescape %}
</div>

{% for profile in profiles %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      {% autoescape off %}{{ profile }}{% endautoescape %}
    </div>
  </div>
</div>
<a href="#tableOfContents">Back to the top</a>
{% endfor %}

{% endblock %}
